* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
}
body {
  position: relative;
}
h1 {
  font-size: 6rem;
  font-style: italic;
  text-align: center;
  width: 100%;
  padding: 0 4%;
  overflow: hidden;
  position: relative;
  display: block;
  height: 100px;
}
h1 span {
  position: absolute;
  bottom: 100%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 939px) {
  h1 {
    height: 264px;
  }
}
h2 {
  font-style: italic;
  font-size: 3.5rem;
  margin-bottom: 1.3rem;
}
@media screen and (max-width: 939px) {
  h2 {
    overflow-wrap: anywhere;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }
}
p {
  max-width: 65ch;
  font-size: 1.3rem;
}
p + p {
  margin-top: 1.2rem;
}
@media screen and (max-width: 600px) {
  p + p {
    margin-top: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
}
a {
  color: white;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: orange;
}
.text-reveal {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 600px) {
  .mobile-large {
    flex: 1 1 60% !important;
  }
}
@media screen and (max-width: 600px) {
  .mobile-small {
    flex: 0 1 auto !important;
  }
}
.nice-gradient {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
.nice-gradient-2 {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.nice-gradient-3 {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.nice-gradient-4 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.nice-gradient-5 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.text-white {
  color: white;
}
section.section-full {
  width: 100%;
  min-height: 100vh;
}
section.flex {
  display: flex;
  position: relative;
}
section.flex .flex50 {
  flex: 0 0 50%;
  position: relative;
}
section.flex .flex50 span:not(.headline-word) {
  font-size: 1.3rem;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  padding: 0 4%;
  display: block;
  color: white;
}
section.flex .flexauto {
  flex: 0 1 100%;
}
section.flex .flex100 {
  flex: 0 0 100%;
  position: relative;
}
section.flex .content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
}
section.flex .glass {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 10, 0.6);
}
section.flex[animation-dir="down"] .sub-content {
  height: 100vh;
  top: 100%;
  position: absolute;
  width: 100%;
  /* special classes*/
}
@media screen and (max-width: 939px) {
  section.flex[animation-dir="down"] .sub-content:not(.start-text) {
    width: 200%;
    left: -100%;
  }
}
@media screen and (max-width: 939px) {
  section.flex[animation-dir="down"] .sub-content.linkcontent {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  section.flex[animation-dir="down"] .sub-content.linkcontent {
    flex-direction: column;
  }
}
section.flex[animation-dir="down"] .sub-content.fill {
  background-color: #52526b;
}
section.flex[animation-dir="down"] .sub-content .texte {
  width: 100%;
  padding: 10%;
  overflow: hidden;
}
section.flex[animation-dir="down"] .sub-content .animate-wrap {
  overflow: hidden;
}
section.flex[animation-dir="down"] .sub-content .animate-wrap > * {
  transform: translate3d(-100%, 0, 0);
}
section .dinge-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
section .dinge-container .dinge {
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  position: absolute;
  background-color: lightgray;
}
section .dinge-container .dinge .fillImage img {
  width: 100%;
  height: auto;
}
section .links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
section .links .link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
section .links .link a {
  margin: auto auto;
  max-width: 300px;
  width: 50%;
}
@media screen and (max-width: 939px) {
  section .links .link a {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  section .links .link a {
    width: 60%;
  }
}
section .links .link > a:hover .linkTitle {
  color: darkslategray;
  transform: scale(0.99);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}
section .links .link > a:hover .anim {
  top: 0;
  left: 0;
  transform: rotate(0);
}
section .links .link > a:hover svg {
  transform: scale(1.1) rotate(5deg);
}
section .links .link .linkTitle {
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  padding: 1rem 2%;
  border: 1px solid white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transform-origin: center center;
  transform: scale(1);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px) {
  section .links .link .linkTitle {
    font-size: 1.6rem;
    padding: 0.8rem 2%;
  }
}
section .links .link .linkTitle span {
  z-index: 0;
}
section .links .link .linkTitle .anim {
  transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  transform-origin: top left;
  transform: rotate(5deg);
  background-color: white;
  opacity: 1;
}
section .links .link .linkImg {
  position: relative;
  width: 100%;
  height: auto;
}
section .links .link .linkImg:before {
  content: '';
  padding-top: 100%;
  display: block;
}
section .links .link .linkImg > svg {
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  position: absolute;
  top: 0;
  left: 0;
  fill: white !important;
  transform-origin: center center;
  transform: scale(1) rotate(0);
  padding: 25%;
}
@media screen and (max-width: 600px) {
  section .links .link .linkImg {
    width: 61%;
    margin: auto;
  }
}
.fillImage img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#lets-go {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 10%;
  fill: white;
  width: 25px;
  height: 25px;
}
#start-page span {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  margin: 0;
}
