*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

@under600px: ~'screen and (max-width: 600px)';
@under939px: ~'screen and (max-width: 939px)';  //Viewport wenn die Animation umschalten soll

body {
    position: relative;
}

h1 {
    font-size: 6rem;
    font-style: italic;
    text-align: center;
    width: 100%;
    padding: 0 4%;
    overflow: hidden;
    position: relative;
    display: block;
    height: 100px;
    span {
        position: absolute;
        bottom: 100%;
        transform:translate(-50%,0);
    }

    @media @under939px {
        height: 264px;
    }
}

h2{
    font-style: italic;
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
    @media @under939px {
        overflow-wrap: anywhere;
        font-size: 2rem;
        margin-bottom: 0.8rem;
        text-align: center;
    }
}


p {
    max-width: 65ch;
    font-size: 1.3rem;
    & + p {
        margin-top: 1.2rem;
        @media @under600px {
            margin-top: 0.8rem;
        }
    }

    @media @under600px {
        font-size: 0.9rem;
    }
}

a{
    color: white;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: orange;
    }
}

.text-reveal {
    overflow: hidden;
    position: relative;
}

.mobile-large {
    @media @under600px {
        flex: 1 1 60% !important;
    }
}

.mobile-small {
    @media @under600px {
        flex: 0 1 auto !important;
    }
}

.nice-gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    //background-color:rgb(59, 59, 59); 

   &-2 {
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%)
   }
   &-3{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
   }
   &-4 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
   }
   &-5 {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
   }
}

.text-white {
    color: white;
}

section {
    &.section-full {
        width: 100%;
        min-height: 100vh;
    }

    &.flex {
        display: flex;
        position: relative;

        .flex50 {
            flex: 0 0 50%;
            position: relative;
            span:not(.headline-word) {
                font-size: 1.3rem;
                margin-top: 10px;
                text-align: center;
                width: 100%;
                padding: 0 4%;
                display: block;
                color: white;
            }
        }

        .flexauto {
            flex: 0 1 100%;
        }

        .flex100 {
            flex: 0 0 100%;
            position: relative;
        }

        .content-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            color: white;

        }

        .glass {
            backdrop-filter: blur(4px);
            background-color: rgba(0, 0, 10, 0.6);
        }

        &[animation-dir="down"] .sub-content {
            height: 100vh;
            top: 100%;
            position: absolute;
            width: 100%;

            &:not(.start-text){
            @media @under939px {
                width: 200%;
                left: -100%;
            }
        }

            &.linkcontent {
                @media @under939px {
                    width: 100%;
                    left: 0;
                }
                @media @under600px {
                    flex-direction: column;
                }
            
            }

            /* special classes*/

            &.fill {
                background-color: #52526b;
            }

            .texte {
                width: 100%;
                padding: 10%;
                overflow: hidden;
            }

            .animate-wrap {
                overflow: hidden;

                & > * {
                    transform: translate3d(-100% ,0,0 );
                }
            }

        }

    }

    .dinge-container {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        .dinge {
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            position: absolute;
            background-color: lightgray;

            .fillImage {
                img {
                    width: 100%;
                    height: auto; 
                }
            }
            
        }
    }

    .links {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;

        .link {
         height: 100%;
         display: flex;
         flex-direction:column;
         justify-content: space-between;
         position: relative;

         a{
             margin: auto auto;
             max-width: 300px;
             width: 50%;
             @media @under939px {
                width: 80%;
             }
             @media @under600px {
                width: 60%;
             }
         }

         &>a:hover {
             
             .linkTitle {
                 color: darkslategray;
                 transform: scale(.99);
                 box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
             }
             .anim {
                 top: 0;
                 left: 0;
                 transform:  rotate(0);
             }

             svg{
                transform: scale(1.1) rotate(5deg);

             }

         }
        
         .linkTitle {
            transition: all 0.5s ease-in-out;
            color: white;
            font-size: 2rem;
            font-style: italic;
            font-weight: 600;
            text-align: center;
            padding: 1rem 2%;
            border: 1px solid white;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            transform-origin: center center;
            transform: scale(1);
            box-shadow: 0 0 45px 0 rgba(0,0,0,0.4);
            @media @under600px {
                font-size: 1.6rem;
                padding: 0.8rem 2%;  
            }

            span{
                z-index: 0;
            }

            .anim {
                transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 100%;
                transform-origin: top left;
                transform:  rotate(5deg);
                background-color: white;
                opacity: 1;
            }
         }

         .linkImg {
             position: relative;
             width: 100%;
             height: auto;
             &:before {
                 content:'';
                 padding-top: 100%;
                 display: block;
             }
             &>svg{
                 transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
                position: absolute;
                top: 0;
                left: 0;
                fill: white !important;
                transform-origin: center center;
                transform: scale(1) rotate(0);
                padding: 25%;
             }
             @media @under600px {
                width: 61%;
                margin: auto;
             }
         }
        }
    }

}

.fillImage {
    img {
        position: absolute;
        height: 100%;
        left: 50%;
        top:50%;
        transform: translate(-50% , -50%)
    }
}

#lets-go {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 10%;
    fill: white;
    width: 25px;
    height: 25px;
}

#start-page {
    span {
        position: absolute;
        top: 200%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(5deg);
        margin: 0;
    }
}